// Media Queries mixin
@mixin screen($point) {
    // default ipnone5
    @if $point == mMedium { // iphone 6
        @media screen and (min-width: $m_portrait_med_w) { @content; }
    }
    @else if $point == mLarge { // iphone 6 plus up
        @media screen and (min-width: $m_portrait_max_w) { @content; }
    }
    @else if $point == tb { // tablet: ipad portrait
        @media screen and (min-width: $tablet_portrait_min_w) { @content; }
    }
    @else if $point == pcSmall { // desktop: 1024px and ipad landscape
        @media screen and (min-width: $pc_landscape_min_w) { @content; }
    }
    @else if $point == pcLarge { // only desktop: 1280px up
        @media screen and (min-width: $pc_landscape_min_w_extra) { @content; }
    }
}

// Transition mixin
@mixin transition($property: all, $duration: 0.5s, $timing-function: ease, $delay: 0s) {
    -webkit-transition: $property $duration $timing-function $delay;
    -moz-transition:    $property $duration $timing-function $delay;
    -o-transition:      $property $duration $timing-function $delay;
    transition:         $property $duration $timing-function $delay;
}