//device width
$m_portrait_med_w: 375px;
$m_portrait_max_w: 414px;
$tablet_portrait_min_w: 768px;
$pc_landscape_min_w: 1024px;
$pc_landscape_min_w_extra: 1280px;

//fonts
$font_body: 'Roboto Condensed', 'Microsoft JhengHei', sans-serif;
$line-height: 1.8em;